<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/starter-template.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><?= getenv("HOSTNAME"); ?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for menu in mainmenu %}
            <li{% if menu.url == curent_url %} class="active"{% endif %}><a href="{{ menu.url }}">{{ menu.title }}</a></li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">

        <div class="starter-template">
          <h1>Welcome to OpenShift Container Platform</h1>
          <p class="lead">Use this as a quick-start for your application development.<br>In order to </p>
          <div>
            <img src="ocp_logo.svg"></img>
          </div>
        </div>

      </div><!-- /.container -->
    </div>

    <div class="starter-template">
      <h1>Getting Started Links</h1>
        <p class="lead">OpenShift Development Guides</p>
        <div class="inner-body">
        <ul class="list-group">
          <li class="list-group-item"><a href="#">Creating Images</a></li>
          <li class="list-group-item"><a href="#">Development Guide</a></li>
          <li class="list-group-item"><a href="#">Using Images</a></li>
          <li class="list-group-item"><a href="#">CLI Reference</a></li>
          <li class="list-group-item"><a href="#">API Reference</a></li>
        </ul>
        </div>

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>

